{% extends 'base.html' %}
{% block head %}
<style>
    body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr5m6A2dQjVAONbzMA2FRYybH_AzzFoKKlFg&usqp=CAU");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h5 calss="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" action="{% url 'pybo:question_create' %}"> <!-- action이 없다면, 나를 호출한 대상한테 돌려 주겠다 -->
        {% csrf_token %}
        <!-- 오류 표시 start -->
        {% if form.errors %} <!-- 데이터 베이스 규칙위반 -->
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong> <!-- 에러 명 -->
                {{ field.errors }}                 <!-- 에러 설명 -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                    value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                        id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
             <!-- {{ form.as_p }} : form 으로 받았던 데이터 처리 : input도 action도 없는걸 다 처리--> 
        <button type="submit" class="btn btn-primary" >저장하기</button>
    </form>
</div>
{% endblock %}